<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Contact Added</title>
    </head>
    <body>
        <h1>You added your contact!</h1>
        <p>{{ newcontact.getName }}</p>
        <p><a href='/'>View all of your contacts.</a></p>
    </body>
</html>
