<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Address Book</title>
    </head>
    <body>
        <h1>Welcome to Your Address Book</h1>

        {% if contacts is not empty %}
            <p>Check out these people!</p>
            <ul>
                {% for contact in contacts %}
                    <li> {{ contact.getName }}</li>
                    <li> {{ contact.getPhone }}</li>
                    <li> {{ contact.getAddress }}</li>
                {% endfor %}
            </ul>
        {% endif %}



        <form action='/contacts' method='post'>
            <h3>Enter new contact information here</h3>
            <label for='name'>Name</label>
            <input id='name' name='name' type='text'>
            <br /><br />
            <label for='phone'>Phone Number</label>
            <input id='phone' name='phone' type='text'>
            <br /><br />
            <label for='address'>Address</label>
            <input id='address' name='address' type='text'>
            <br /><br />

            <button type='submit'>Add Contact</button>
        </form>
        <br />
        <form action='/delete' method='post'>
            <button type='submit'>Delete All Contacts</button>
        </form>
    </body>
</html>
